body {
	width: 100%;
	font-family: sans-serif;
	font-size: 100%;
	padding: 0;
	margin: 0;
}

header, footer {
	background-color: #7399d6;
	width: 100%;
	line-height: 2em;
	box-shadow: 0px 0px 9px 2px #000;
}

.content {
	/*Will be used to get the footer stick
	at the bottom, not as now in feedback*/
	padding: 0 1em;
}

h1 {
	font-size: 3rem;
	text-align: center;
}


/*-------- Style for the navigation-bar ------------*/
ul {
	margin: 0;
}

nav ul {
	list-style: none;
	text-align: right;
	margin: 0 1em 0 0;
}

nav li {
 display: inline-block;
}

header li a:link {
	text-decoration: none;
	margin: 0 0.5em;
	text-align: right;
}

header li a:visited, #mainlink:visited {
	color: #000;
}

header li a:focus, #mainlink:focus {
	color: #fff;
}


header li a:hover, #mainlink:hover {
	color: #fff;
}

header li a:active, #mainlink:active {
	color: #c2cbed;
}

#mainlink:link {
	color: #000;
	float: left;
	padding: 0 0 0 1em;
	text-decoration: none;
}


/*--------- Style for the footer -----------------*/
footer {
	display: inline-block;
	line-height: 1.5;
	margin: 1em 0 -2em 0;
}

.openinghours{
	padding: 2em 0;
	text-align: left;
	float: left;
	width: 20%;
	position: relative;
	left: 2.5%;
}

.rating {
	padding: 2em 0;
	float: left;
	vertical-align: top;
	text-align: center;
	width: 50%;
	position: absolute;
	left: 25%;
}

.address {
	text-align: left;
	padding: 2em 0 2em 2.5%;
	width: 20%;
	position: absolute;
	left: 77.50%;

}



/*----- Style for the pictures on the index-page --------*/
.restaurantimg {
	text-align: center;
}

.allthings {
	text-align: center;
}

.allthings img {
	margin: 0.5em;
}

/*#pizzaimg {
	position: absolute;
	left: 5%;
}

#saladimg {
	position: absolute;
	left: 35%;
}

#softdrinkimg {
	position: absolute;
	right: 5%;
}
*/


/*--------- Style the form on the feedback-page ------------*/
input[type="submit"] {
	background-color: #d6d6d6;
	border: none;
	font-weight: bold;
	color: #374784;
	padding: 0.75em 1em;
	cursor: pointer;
	margin-top: 5em;
	position: absolute;
	left: 40%;

}

input[type="submit"]:hover {
	background-color: #374784;
	color: #d6d6d6;
}

input[type="text"], input[type="email"], textarea {
	width: 30em;
	position: absolute;
	left: 40%;
	color: #3d3d3d;
}

.radio_button {
	position: absolute;
	left: 40%;
	margin-top: -2.2em;
}

.radio_button label {
	margin-right: 1em;
}

form {
	margin-bottom: 10em;
}

form p {
	text-align: right;
	padding-right: 62%;
}
